{% extends '_base.html' %}
    <section class="why_section layout_padding">
      <div class="container">
        <div class="heading_container">
          <h2>
            Why <br />
            Choose Us
          </h2>
        </div>
        <div class="why_container">
          <div class="box">
            <div class="img-box">
              <img src="{% static 'images/delivery-man-white.png' %}" alt="" class="img-1" />
              <img src="{% static 'images/delivery-man-black.png' %}" alt="" class="img-2" />
            </div>
            <div class="detail-box">
              <h5>Best Drivers</h5>
              <p>
                It is a long established fact that a reader will be distracted
                by the readable content of a page when looking at its
              </p>
            </div>
          </div>
          <div class="box">
            <div class="img-box">
              <img src="{% static 'images/shield-white.png' %}" alt="" class="img-1" />
              <img src="{% static 'images/shield-black.png' %}" alt="" class="img-2" />
            </div>
            <div class="detail-box">
              <h5>Safe and Secure</h5>
              <p>
                It is a long established fact that a reader will be distracted
                by the readable content of a page when looking at its
              </p>
            </div>
          </div>
          <div class="box">
            <div class="img-box">
              <img
                src="images/repairing-service-white.png"
                alt=""
                class="img-1"
              />
              <img
                src="{% static 'images/repairing-service-black.png' %}"
                alt=""
                class="img-2"
              />
            </div>
            <div class="detail-box">
              <h5>24x7 support</h5>
              <p>
                It is a long established fact that a reader will be distracted
                by the readable content of a page when looking at its
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="about_section layout_padding">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-4 col-md-5 offset-lg-2 offset-md-1">
            <div class="detail-box">
              <h2>
                About <br />
                Taxi Company
              </h2>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniaLorem ipsum dolor sit amet, consectetur
                adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniamm
              </p>
              <a href=""> Read More </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="img-box">
              <img src="images/about-img.png" alt="" />
            </div>
          </div>
        </div>
      </div>
    </section>
