{% extends '_base.html' %}
    <section class="news_section layout_padding">
      <div class="container">
        <div class="heading_container">
          <h2>
            Our <br />
            News
          </h2>
        </div>
        <div class="news_container">
          <div class="box">
            <div class="date-box">
              <h6>01 Nov 2019</h6>
            </div>
            <div class="img-box">
              <img src="images/news-img.jpg" alt="" />
            </div>
            <div class="detail-box">
              <h6>Eiusmod tempor incididunt</h6>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud
              </p>
            </div>
          </div>
          <div class="box">
            <div class="date-box">
              <h6>01 Nov 2019</h6>
            </div>
            <div class="img-box">
              <img src="images/news-img.jpg" alt="" />
            </div>
            <div class="detail-box">
              <h6>Eiusmod tempor incididunt</h6>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud
              </p>
            </div>
          </div>
          <div class="box">
            <div class="date-box">
              <h6>01 Nov 2019</h6>
            </div>
            <div class="img-box">
              <img src="images/news-img.jpg" alt="" />
            </div>
            <div class="detail-box">
              <h6>Eiusmod tempor incididunt</h6>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- end news section -->